# dependencies
node_modules/

# build outputs
dist/
.astro/
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# editor
.vscode/
.idea/
*.swp
.DS_Store
