---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Arts Books | Pablo Pinxit">
    <div class="max-w-4xl mx-auto py-12 space-y-20">
        
        <!-- Arts Books Video -->
        <article class="flex flex-col gap-4">
            <h2 class="text-3xl md:text-4xl font-heading font-[700] tracking-wider text-gray-800">
                Hybris (with Maru Rivas)
            </h2>
            <video controls class="w-full h-auto bg-black" preload="metadata">
                <source src="/Arts Books/Video/video_VideoBooks.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </article>

    </div>
</Layout>
